@import '@styles/index.scss';

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $white;

  h1 {
    margin-bottom: $spacing-md;
  }

  p {
    color: $text-secondary;
  }
}
